nav ul,
footer ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li,
footer li {
  display: inline-block; }
nav li:not(:first-child):before,
footer li:not(:first-child):before {
  content: " : "; }
